<mat-card class="mat-card">

  <mat-card-header>
    <mat-card-title>
      Mettre à jour des tags par lot
    </mat-card-title>
    <mat-card-subtitle>
      <span>
        Prenez un export récent (depuis l'accueil, lorsque vous faites une recherche) et changez le champ
        <pre style="display: inline;">tags</pre> sur les lignes que vous voulez éditer. <br>
        Veuillez prendre le soin d'effacer les lignes que vous ne souhaitez pas modifier. <br>
        Une fois le fichier prêt, vous pouvez le soumettre ici. <br>

        <br>

        <i>Afin de spécifier plusieurs tags pour une ligne, utilisez des espaces. Exemple:
          <pre style="display: inline;">fonds-vert cper:2015-20</pre>
        </i> <br>
        <i>Pour le moment, l'édition des tags en lot ne fonctionne que sur les données provenant de chorus.</i>

      </span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div class="line">
      <div class="col">
        <input #fileUploadReferentiel (change)="fileMajTag = getFile($event)" accept=".csv" class="file-input"
          type="file">
        <div class="file-upload">

          <span>{{ fileMajTag !== null ? fileMajTag.name : "Séléctionnez le fichier de mise à jour des tags" }}</span>

          @if(fileMajTag === null) {
          <button (click)="fileUploadReferentiel.click()" class="upload-btn" color="primary" mat-mini-fab>
            <mat-icon>attach_file</mat-icon>
          </button>
          } @else {
          <button (click)="fileMajTag = null" class="cancel-upload" color="warn" mat-mini-fab>
            <mat-icon (click)="fileMajTag = null" class="cancel-upload">delete_forever</mat-icon>
          </button>
          }
        </div>
      </div>

      @if(fileMajTag !== null) {
      <button (click)="uploadFileMajTag()" (disabled)="uploadInProgress.value === true" color="primary" mat-fab>
        <mat-icon fontIcon="upload_file" />
      </button>
      }
    </div>
  </mat-card-content>
</mat-card>

<mat-card>

  <mat-card-content>
    <div class="fr-table" style="text-align: center;">
      <table>

        <caption>Référence des tags disponibles</caption>

        <thead>
          <tr>
            <td>Nom</td>
            <td>Description</td>
          </tr>
        </thead>

        <tbody>
          @for (tag of tags; track tag.display_name) {

          <tr>
            <td>
              <div class="flex-container flex-row align-center">
                <button (click)="copyTagToClipboard(tag)" mat-icon-button>
                  <mat-icon>content_copy</mat-icon>
                </button>
                <span>
                  {{ displayTagCodename(tag) }}
                </span>
              </div>
            </td>
            <td>{{ tag.description }}</td>
          </tr>
          }
        </tbody>

      </table>
    </div>
  </mat-card-content>

</mat-card>