<lib-header [ngClass]="{'hidden': grid_fullscreen }" [title]="'Budget Data État Bretagne'" [logo]="'BudgetEtat.svg'">

  <li administration>
    <button mat-icon-button [matMenuTriggerFor]="administration" matTooltip="Administration" class="fr-btn"
      id="administration">
      <mat-icon aria-hidden="false" aria-label="Administration" fontIcon="settings"/>
    </button>

    <mat-menu #administration="matMenu">
      <button mat-menu-item routerLink='administration/management' *ngIf="showManageUsersPage">Gestion des utilisateurs</button>
      <button mat-menu-item routerLink='administration/upload' *ngIf="showUploadFinancialDataPage">Charger des données</button>
      <button mat-menu-item routerLink='administration/update-tags' *ngIf="showUpdateTagsPage">Modifier les tags</button>
    </mat-menu>
  </li>
</lib-header>

<div *ngIf="progressBarVisible === true">
  <mat-progress-bar mode="query"/>
</div>

<router-outlet class="page-content-outlet"/>

<lib-footer *ngIf="isAuthenticated" [ngClass]="{'hidden': grid_fullscreen }">
  <li class="fr-footer__bottom-item" *ngIf="help">
    <a class="fr-footer__bottom-link" href="{{help}}" target="_blank">Aide en
      ligne</a>
  </li>
</lib-footer>
