<lib-header [logo]="'BudgetEtat.svg'" [ngClass]="{'hidden': grid_fullscreen }" [title]="'Budget Data État ' + region">

  <li *ngIf="showUpdateTagsPage" tags>
    <button
      class="fr-btn fr-btn--tertiary-no-outline fr-icon-hashtag" matTooltip="Tags"
      routerLink="administration/update-tags">Tags
    </button>
  </li>

  <li *ngIf="showIntegrationDemarchePage" compagnonDS>
    <button
      class="fr-btn fr-btn--tertiary-no-outline fr-icon-bank-card-line" matTooltip="Compagnon DS"
      id="compagnonDS"
      routerLink="administration/demarches/integration">Compagnon DS
    </button>
  </li>

  <li ressources *ngIf="ressources$ | async as ressources;">
    <button [matMenuTriggerFor]="ressourcesMenu" class="fr-btn fr-btn--tertiary-no-outline fr-icon-book-2-line"
            id="ressources"
            matTooltip="Ressources">Ressources
    </button>
    <mat-menu #ressourcesMenu="matMenu">
      <a *ngIf="ressources.visuterritoire" [href]="ressources.visuterritoire" mat-menu-item
         target="_blank">VisuTerritoire</a>
      <a *ngIf="ressources.relance" [href]="ressources.relance" mat-menu-item target="_blank">France 2030 et Relance</a>
      <a *ngIf="ressources.graphiques" [href]="ressources.graphiques" mat-menu-item target="_blank">Graphiques</a>
      <a *ngIf="ressources.api_swagger" [href]="ressources.api_swagger" mat-menu-item target="_blank">API Swagger</a>
      <a *ngIf="ressources.documentation" [href]="ressources.documentation" mat-menu-item
         target="_blank">Documentation</a>
      <a *ngIf="ressources.suivi_usage" [href]="ressources.suivi_usage" mat-menu-item target="_blank">Suivi usage</a>
      <a *ngIf="ressources.grist" [href]="ressources.grist" mat-menu-item target="_blank">Grist</a>
    </mat-menu>
  </li>


  <li *ngIf="showManageUsersPage || showUploadFinancialDataPage" administration>
    <button [matMenuTriggerFor]="administration" class="fr-btn fr-btn--tertiary-no-outline fr-icon-settings-5-fill"
            id="administration"
            matTooltip="Administration">Admin
    </button>
    <mat-menu #administration="matMenu">
      <button *ngIf="showManageUsersPage" mat-menu-item routerLink='administration/management'>Gestion des
        utilisateurs
      </button>
      <button *ngIf="showUploadFinancialDataPage" mat-menu-item routerLink='administration/upload'>Charger des données
      </button>
    </mat-menu>
  </li>

</lib-header>

<div *ngIf="progressBarVisible === true">
  <mat-progress-bar mode="query" />
</div>

<router-outlet class="page-content-outlet" />

<lib-footer *ngIf="isAuthenticated" [logo]="'DataEtat.svg'" [ngClass]="{'hidden': grid_fullscreen }">
  <li *ngIf="help" class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="{{help}}" target="_blank">Aide en
      ligne</a>
  </li>
</lib-footer>
