<lib-header [ngClass]="{'hidden': grid_fullscreen }" [title]="'Budget Data État ' + region" [logo]="'BudgetEtat.svg'">

  <li tags *ngIf="showUpdateTagsPage">
    <button 
      routerLink="administration/update-tags" matTooltip="Tags"
      class="fr-btn fr-btn--tertiary-no-outline fr-icon-hashtag">Tags</button>
  </li>

  <li ressources>
    <button [matMenuTriggerFor]="ressources" matTooltip="Ressources"
      class="fr-btn fr-btn--tertiary-no-outline fr-icon-book-2-line"
      id="ressources">Ressources</button>
    <mat-menu #ressources="matMenu">
      <a mat-menu-item *ngIf="getRessource('visuterritoire')" href="{{ getRessource('visuterritoire') }}" target="_blank">VisuTerritoire</a>
      <a mat-menu-item *ngIf="getRessource('relance')" href="{{ getRessource('relance') }}" target="_blank">France 2030 et Relance</a>
      <a mat-menu-item *ngIf="getRessource('graphiques')" href="{{ getRessource('graphiques') }}" target="_blank">Graphiques</a>
      <a mat-menu-item *ngIf="getRessource('api_swagger')" href="{{ getRessource('api_swagger') }}" target="_blank">API Swagger</a>
      <a mat-menu-item *ngIf="getRessource('documentation')" href="{{ getRessource('documentation') }}" target="_blank">Documentation</a>
      <a mat-menu-item *ngIf="getRessource('suivi_usage')" href="{{ getRessource('suivi_usage') }}" target="_blank">Suivi usage</a>
    </mat-menu>
  </li>

  <li administration *ngIf="showManageUsersPage || showUploadFinancialDataPage">
    <button [matMenuTriggerFor]="administration" matTooltip="Administration"
      class="fr-btn fr-btn--tertiary-no-outline fr-icon-settings-5-fill"
      id="administration">Admin</button>
    <mat-menu #administration="matMenu">
      <button mat-menu-item routerLink='administration/management' *ngIf="showManageUsersPage">Gestion des utilisateurs</button>
      <button mat-menu-item routerLink='administration/upload' *ngIf="showUploadFinancialDataPage">Charger des données</button>
      <button mat-menu-item routerLink='administration/demarches/integration' *ngIf="showIntegrationDemarchePage">Compagnon DS</button>
    </mat-menu>
  </li>

</lib-header>

<div *ngIf="progressBarVisible === true">
  <mat-progress-bar mode="query"/>
</div>

<router-outlet class="page-content-outlet"/>

<lib-footer *ngIf="isAuthenticated" [ngClass]="{'hidden': grid_fullscreen }" [logo]="'DataEtat.svg'">
  <li class="fr-footer__bottom-item" *ngIf="help">
    <a class="fr-footer__bottom-link" href="{{help}}" target="_blank">Aide en
      ligne</a>
  </li>
</lib-footer>
