.wrapper-table-detail-cp {
  overflow-x: scroll;
}
.table-detail-cp {
  width: 100%;
  border-spacing: 0px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.table-detail-cp th {
  width: 265px;
  min-width: 265px;
  padding: 15px;
  border: 1px solid black;
  text-align: left;
}
.table-detail-cp th:not(.last) {
  border-bottom: 0px;
}

.table-detail-cp td {
  padding: 15px;
  border: 1px solid black;
  border-left: 0px;
}
.table-detail-cp td:not(.last) {
  border-bottom: 0px;
}