<ng-container *ngIf="hasCp; else erreur">
  <strong class="titre">Détail paiement :</strong>
  <div class="wrapper-table-detail-cp">
    <table class="table-detail-cp">
      <tr>
        <th>N° DP (Demande de Paiement)</th>
        <td *ngFor="let cp of financial.financial_cp">{{ cp.n_dp }}</td>
      </tr>
      <tr>
        <th>Date de paiement</th>
        <td *ngFor="let cp of financial.financial_cp">{{ format_date(cp.date_base_dp) }}</td>
      </tr>
      <tr>
        <th class="last">Montant payé</th>
        <td class="last" *ngFor="let cp of financial.financial_cp">{{ cp.montant }}</td>
      </tr>
    </table>
  </div>
  <div><strong>N°EJ : </strong>{{ financial.n_ej }}</div>
  <div><strong>N°Poste : </strong>{{ financial.n_poste_ej }}</div>
</ng-container>


<ng-template #erreur>
  <strong>Aucun crédit de paiement</strong>
</ng-template>