<ng-container *ngIf="hasCp; else erreur">
  <div class="infos-cp">
    <span><strong>N°EJ : </strong>{{ financial.n_ej }}</span>
    <span><strong>N°Poste : </strong>{{ financial.n_poste_ej }}</span>
  </div>
  <div class="infos-cp">
    <span><strong>Montant engagé : </strong>{{ financial.montant_ae | currency:'EUR' }}</span>
    <span><strong>Total payé : </strong>{{ financial.montant_cp | currency:'EUR' }}</span>
  </div>

  <div class="wrapper-table-detail-cp">
    <table class="table-detail-cp">
      <tr>
        <th><strong>N° DP (Demande de Paiement)</strong></th>
        <td *ngFor="let cp of financial.financial_cp">{{ cp.n_dp }}</td>
      </tr>
      <tr>
        <th><strong>Date base de demande de paiement</strong></th>
        <td *ngFor="let cp of financial.financial_cp">{{ format_date(cp.date_base_dp) }}</td>
      </tr>
      <tr>
        <th class="last"><strong>Montant payé</strong></th>
        <td class="last" *ngFor="let cp of financial.financial_cp">{{ cp.montant | currency:'EUR' }}</td>
      </tr>
    </table>
  </div>
</ng-container>


<ng-template #erreur>
  <strong>Aucun crédit de paiement</strong>
</ng-template>