<dsfr-modal #modalFiltres
  [dialogId]="dialogId"
  [titleModal]="titleModal"
  [actions]="actions"
  [size]="size"
  [headingLevel]="headingLevel"
  [autoCloseOnAction]="autoCloseOnAction"
  [controlMode]="'dynamic'"
>

  <dsfr-form-input
    [type]="'text'"
    [label]="'Rechercher un élément'"
    [autoCorrect]="false"
    [(ngModel)]="input"
    (ngModelChange)="filterCheckboxes($event)"
    ></dsfr-form-input>

  <dsfr-form-fieldset [id]="dialogId + '-checkboxes'">
    <ng-container *ngFor="let item of filteredCheckboxes">
      <dsfr-form-checkbox
        *fieldsetElement
        [label]="item.label"
        [hint]="item.description"
        style="margin: 10px 0px;">
      </dsfr-form-checkbox>
    </ng-container>
  </dsfr-form-fieldset>

</dsfr-modal>
