<div class="fr-container">
    <div class="fr-grid-row">
        
        <financial-nav-compagnon-ds [title]="'Afficher ma démarche'" [currentStep]="3" [totalStep]="3" class="fr-col-8" style="margin-top:30px;"/>

        <div class="fr-col-12">
            <div class="fr-alert fr-alert--info" *ngIf="requestsDone" style="margin-bottom:30px;">
                <h3 class="fr-alert__title">Cadre défini</h3>
                <p>Pour {{nbDossiers}} dossiers acceptés ayant le numéro EJ de renseigné, {{matchingLines}} lignes financières Chorus ont pu être cadrées (démarche {{demarche?.number}})</p>
            </div>
        </div>

        <form [formGroup]="affichageForm" (submit)="saveAffichage()" class="fr-col-12">
            <div class="fr-grid-row">
                <div class="fr-col-6" style="margin-bottom:30px; padding-right:30px;">
                    <div class="fr-select-group">
                        <label class="fr-label" for="nomProjet">Nom du projet</label>
                        <select class="fr-select" id="nomProjet" formControlName="nomProjet">
                            <option value="" selected disabled hidden>Sélectionner une option</option>
                            <option *ngFor="let donnee of donnees" [value]="donnee.id">{{donnee.label}}</option>
                        </select>
                    </div>
                    <div class="fr-select-group">
                        <label class="fr-label" for="descriptionProjet">Description du projet</label>
                        <select class="fr-select" id="descriptionProjet" formControlName="descriptionProjet">
                            <option value="" selected disabled hidden>Sélectionner une option</option>
                            <option *ngFor="let donnee of donnees" [value]="donnee.id">{{donnee.label}}</option>
                        </select>
                    </div>
                    <div class="fr-select-group">
                        <label class="fr-label" for="categorieProjet">Catégorie du projet</label>
                        <select class="fr-select" id="categorieProjet" formControlName="categorieProjet">
                            <option value="" selected disabled hidden>Sélectionner une option</option>
                            <option *ngFor="let donnee of donnees" [value]="donnee.id">{{donnee.label}}</option>
                        </select>
                    </div>
                    <div class="fr-select-group">
                        <label class="fr-label" for="coutProjet">Coût prévisionnel du projet</label>
                        <select class="fr-select" id="coutProjet" formControlName="coutProjet">
                            <option value="" selected disabled hidden>Sélectionner une option</option>
                            <option *ngFor="let donnee of donnees" [value]="donnee.id">{{donnee.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="fr-col-6" style="margin-bottom:30px; padding-left:30px;">
                    <div class="fr-select-group">
                        <label class="fr-label" for="montantDemande">Montant demandé</label>
                        <select class="fr-select" id="montantDemande" formControlName="montantDemande">
                            <option value="" selected disabled hidden>Sélectionner une option</option>
                            <option *ngFor="let donnee of donnees" [value]="donnee.id">{{donnee.label}}</option>
                        </select>
                    </div>
                    <div class="fr-select-group">
                        <label class="fr-label" for="montantAccorde">Montant accordé</label>
                        <select class="fr-select" id="montantAccorde" formControlName="montantAccorde">
                            <option value="" selected disabled hidden>Sélectionner une option</option>
                            <option *ngFor="let donnee of donnees" [value]="donnee.id">{{donnee.label}}</option>
                        </select>
                    </div>
                    <div class="fr-select-group">
                        <label class="fr-label" for="dateFinProjet">Date de fin de projet</label>
                        <select class="fr-select" id="dateFinProjet" formControlName="dateFinProjet">
                            <option value="" selected disabled hidden>Sélectionner une option</option>
                            <option *ngFor="let donnee of donnees" [value]="donnee.id">{{donnee.label}}</option>
                        </select>
                    </div>
                    <div class="fr-select-group">
                        <label class="fr-label" for="contact">Contact</label>
                        <select class="fr-select" id="contact" formControlName="contact">
                            <option value="" selected disabled hidden>Sélectionner une option</option>
                            <option *ngFor="let donnee of donnees" [value]="donnee.id">{{donnee.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="fr-col-12">
                    <hr>
                </div>
                <div class="fr-col-12" style="display: flex; justify-content: space-between; margin-bottom:30px;">
                    <button class="fr-btn fr-btn--primary fr-btn--icon-left fr-icon-arrow-left-line" [routerLink]="['/administration/demarches/reconciliation']" [queryParams]="{ 'number': demarche?.number}">Etape précédente</button>
                    <button data-test-id="btnSubmit" class="fr-btn fr-btn--primary fr-btn--icon-left fr-icon-success-line" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>
</div>