<dsfr-tabs [selectedTabIndex]="selectedTab()" (tabSelect)="setSelectedDashboard($event)">
  <dsfr-tab tabId="dashboard-147" label="Crédits P147" [class.empty] = "noResults()">
    @if (selectedTab() === 0) {
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
          <data-qpv-dashboard class="dashboard-credit-wrapper" />
        </div>
      </div>
    }
  </dsfr-tab>
  <dsfr-tab tabId="dashboard-autres" label="Crédits droit commun" [class.empty] = "noResults()">
    @if (selectedTab() === 1) {
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
          <data-qpv-dashboard class="dashboard-credit-wrapper" />
        </div>
      </div>
    }
  </dsfr-tab>
  <dsfr-tab tabId="dashboard-tous" label="Total des crédits" [class.empty] = "noResults()">
    @if (selectedTab() === 2) {
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
          <data-qpv-dashboard class="dashboard-credit-wrapper" />
        </div>
      </div>
    }
  </dsfr-tab>
</dsfr-tabs>
