.fr-badge.fr-badge--info:before {
  display: none;
}
.fr-badge.fr-badge--success:before {
  display: none;
}

.fr-table__content {
  max-height: 75vh;
  overflow-y: auto;
  
  &.fullscreen {
    max-height: 108vh;
    height: 110vh;
  }
}

.fr-table__content table {
  min-width: 100%; /* or something larger to allow scroll */
  border-collapse: separate; /* not collapse */
}

/* ===== THEAD FIXE LORS DU SCROLL VERTICAL ===== */

/* Figer le thead directement sur la table */
#table-10 thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

th.fr-cell--fixed.not-index,
td.fr-cell--fixed.not-index {
  box-shadow: 3px 0 5px rgba(0,0,0,0.3);
  min-width: 600px;
  max-width: 600px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
td.fr-cell--fixed.not-index {
  overflow: hidden;
}
tr.clickable:hover,
tr.clickable:hover > td {
  cursor: pointer;
  background-color: #eee;
}

/* ===== HEADER DU TABLEAU ET BOUTONS DE TRI ===== */

.th-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.th-content > .fr-cell__title {
  margin-right: 10px;
}
.th-content button[id^="btn-sort"] {
  padding: 0.5rem;
}
.th-content button[id^="btn-sort"]::before {
  margin-left: .25rem;
  margin-right: .25rem;
}
.th-content button[id^="btn-sort"]::after {
  display: none;
}
.th-content .sorted-button button[id^="btn-sort"] {
  background-color: var(--background-action-high-blue-france);
  color: white;
}