<div class="fr-grid-row">
  <div class="fr-col-12">
    <div class="fr-table fr-table--bordered fr-table--lg">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table id="table-10">
              <thead>
                <tr>
                  @for (col of currentColonnes; track col.colonne; let isFirst = $first) {
                    <th [class.fr-cell--fixed@md]="isFirst" role="columnheader">
                      <div class="fr-cell__title">{{col.label}}</div>
                    </th>
                  }
                </tr>
              </thead>
              <tbody>
                @for (line of currentLignes; track line.id; let isFirst = $first) {
                  <tr id="table-10-row-key-{{line.id}}"  [attr.data-row-key]="line.id" [class.fr-cell--fixed@md]="isFirst" scope="row">
                    @for (col of currentColonnes; track col.colonne) {
                      <td>{{col.render(line)}}</td>
                    }
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>