<div class="fr-grid-row">
  <div class="fr-col-12">
    <div class="fr-table fr-table--bordered fr-table--lg">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table id="table-10">
              <thead>
                <tr>
                  <th class="fr-cell--fixed" role="columnheader"></th>
                  @for (col of currentColonnes; track col.colonne; let isFirst = $first) {
                    <th [class.fr-cell--fixed]="isFirst" class="not-index" role="columnheader" [ngStyle]="col.style">
                      <div class="fr-cell__title">{{col.label}}</div>
                    </th>
                  }
                </tr>
              </thead>
              <tbody>
                <tr id="table-10-row-key-0" data-row-key="0">
                  <th class="fr-cell--fixed" scope="row"></th>
                  @for (col of currentColonnes; track col.colonne; let isFirst = $first) {
                    @if (isFirst) {
                      <td class="fr-cell--fixed not-index" role="columnheader" style="text-align:right;" [ngStyle]="col.style">
                        <b style="font-size: 16px;">TOTAL</b>
                        <span class="fr-badge fr-badge--info badge-no-icon" style="margin-left: 30px;">{{searchDataService.total()?.total | numberFormat}} lignes</span>
                      </td>
                    }
                    @else if (col.colonne === "montant_ae") {
                      <td style="text-align: center;">
                        <p class="fr-mr-2v fr-badge fr-badge--success badge-no-icon">{{searchDataService.total()?.total_montant_engage | currency:'EUR':'symbol':'1.0-2'}}</p>
                      </td>
                    }
                    @else if (col.colonne === "montant_cp") {
                      <td style="text-align: center;">
                        <p class="fr-mr-2v fr-badge fr-badge--success badge-no-icon">{{searchDataService.total()?.total_montant_paye | currency:'EUR':'symbol':'1.0-2'}}</p>
                      </td>
                    }
                    @else {
                      <td></td>
                    }
                  }
                </tr>
                @for (line of currentLignes; track line.id; let i = $index) {
                  <tr id="table-10-row-key-{{line.id}}" (click)="onRowClick(line)" class="clickable" [attr.data-row-key]="line.id" scope="row">
                    <th class="fr-cell--fixed" scope="row">{{i + 1}}</th>
                    @for (col of currentColonnes; track col.colonne; let isFirst = $first) {
                      <td [class.fr-cell--fixed]="isFirst" class="not-index" [ngStyle]="col.style" [innerHTML]="col.render(line)"></td>
                    }
                  </tr>
                }
              </tbody>
            </table>
            @if (searchDataService.pagination()?.has_next) {
              <div #spinner class="spinner-wrapper fr-spinner--lg" style="text-align: center; margin: 30px 0px;">
                <span class="fr-spinner" aria-label="Chargement…" role="status"></span>
                <span class="fr-spinner-message">Chargement en cours ...</span>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>