<div class="fr-container">
  <div class="fr-grid-row">

    <budget-nav-compagnon-ds [title]="'Intégrer ma démarche'" [currentStep]="1" [totalStep]="3" class="fr-col-6"
      style="margin-top:30px;" />

    <form [formGroup]="integrationForm" (submit)="saveDemarche()" class="fr-col-12">
      <div class="fr-grid-row">
        <div class="fr-col-8">
          <div class="fr-input-group">
            <label class="fr-label" for="token">Token à utiliser</label>
            <span class="fr-hint-text"></span>
            <lib-select-simple [(selected)]="selectedToken" [canClear]="false" [canFilter]="false" [options]="tokens"
              [renderLabelFunction]="renderToken" id="token" />
            <button class="fr-btn fr-btn--secondary" type="button"
              [routerLink]="['/demarches/gestion-token']">Gérer mes tokens DS
            </button>
          </div>

          <div class="fr-input-group">
            <label class="fr-label" for="numeroDemarche">Saisir le numéro de votre démarche DS</label>
            <span class="fr-hint-text"></span>
            <input id="numeroDemarche" class="fr-input" type="text" data-test-id="numeroDemarche"
              formControlName="numeroDemarche">
          </div>
          @if(nomDemarche === '') {
          <div class="fr-alert fr-alert--warning">
            <h3 class="fr-alert__title">Attention</h3>
            <p>Cette fonctionnalité est <b>expérimentale</b>. Le token que vous
              saisissez et les démarches qui y sont liées ne seront consultables que par vous. </p>
            <p>Cependant, le résultat des
              réconciliations des dossiers DS et des lignes Chorus sera visible de tous.</p>
          </div>
          }

        </div>
        <div class="fr-col-4" style="display:flex; align-items: flex-end; justify-content: flex-end;">
          <button data-test-id="searchDemarcheBtn" class="fr-btn fr-btn--secondary" type="button"
            (click)="searchDemarche()">Vérifier la démarche
          </button>
        </div>
      </div>
      @if(nomDemarche !== ''){


      <ng-container>
        <hr style="margin-top:30px;">
        <div class="fr-grid-row">
          <div class="fr-col-8">
            <h6 data-test-id="nomDemarche">{{ nomDemarche }}</h6>
            @if(!dejaIntegree && !integree){
            <div class="fr-alert fr-alert--info">
              <h3 class="fr-alert__title">Informations supplémentaires</h3>
              <p>Cette opération peut prendre plus ou moins longtemps en fonction du nombre de dossier à intégrer.</p>
              <p>Une fois que vous aurez cliqué sur "Intégrer ma démarche", les données DS seront stockées dans la
                plateforme Data-État.</p>
            </div>
            }

            @if(dejaIntegree) {
            <div class="fr-alert fr-alert--success">
              <h3 class="fr-alert__title" data-test-id="dateIntegration">Cette démarche a été intégrée
                le {{ dateIntegration | date: 'dd/MM/yyyy' }}</h3>
              <p>Vous pouvez intégrer de potentiels nouveaux dossiers ou passer directement à l'étape suivante.</p>
            </div>
            }

            @if(!dejaIntegree && integree) {
            <div class="fr-alert fr-alert--success">
              <h3 class="fr-alert__title">La démarche a été correctement intégrée</h3>
              <p>Vous pouvez passer à l'étape suivante.</p>
            </div>
            }

          </div>
          <div class="fr-col-4" style="display:flex; align-items: flex-end; justify-content: flex-end;">
            <button class="fr-btn fr-btn--primary" type="submit" [disabled]="somethingIsLoading">Intégrer ma démarche
            </button>
          </div>
        </div>
      </ng-container>
      }
      <hr style="margin-top:30px;">
      <div style="display: flex; justify-content: right;">
        <button data-test-id="btnSubmit" [disabled]="nomDemarche === '' || (!integree && !dejaIntegree)"
          class="fr-btn fr-btn--primary fr-btn--icon-right fr-icon-arrow-right-line"
          [routerLink]="['/demarches/reconciliation']"
          [queryParams]="{ 'number': demarche?.number}">Etape suivante
        </button>
      </div>
    </form>

  </div>
</div>