<dialog id="modalColonnes" class="fr-modal" aria-labelledby="modal-title" aria-modal="true">
  <div class="fr-container fr-container--fluid fr-container-sm">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button aria-controls="modalColonnes" title="Fermer" type="button"
              class="fr-btn--close fr-btn">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h2 id="modal-title" class="fr-modal__title">
              <span class="fr-icon-arrow-right-line fr-icon--lg" aria-hidden="true"></span>
              Afficher les données
            </h2>
            <p>
              
            </p>

            <fieldset class="fr-fieldset" id="storybook-form" aria-labelledby="storybook-form-legend storybook-form-messages">
              <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="storybook-form-legend">Choisissez les données des lignes financières que vous souhaitez voir apparaître dans le tableau.</legend>
              
              @for (col of colonnes; track col.code) {
                <div class="fr-fieldset__element">
                  <div class="fr-checkbox-group">
                    <input name="checkbox-{{ col.code }}" id="checkbox-{{ col.code }}" type="checkbox" [attr.aria-describedby]="'checkbox-' + col.code + '-messages'">
                    <label class="fr-label" for="checkbox-{{ col.code }}"> {{ col.label }} </label>
                    <div class="fr-messages-group" id="checkbox-{{ col.code }}-messages" aria-live="polite">
                    </div>
                  </div>
                </div>
              }
              <div class="fr-messages-group" id="storybook-form-messages" aria-live="polite">
              </div>
            </fieldset>

          </div>
          <div class="fr-modal__footer">
            <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
              <button class="fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left">Valider</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>