.clickable.accordion-header:hover,
.clickable.accordion-header:hover > td {
  cursor: pointer;
  background-color: #eee;
}

td.td-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// td {
//   border-top: 1px solid #aaa;
//   border-left: 2px solid #aaa;
//   border-bottom: 1px solid #aaa;
// }
// td:not(::last-child) {
//     border-right: 1px solid #aaa !important;

// }
.collapse-arrow::before {
  width: 30px;
}
.collapse-arrow.opened::before {
  background-color: #eee;
}
// tr:not(:first-child) {
//     border-top: 1px solid #aaa !important;
// }

tr.opened {
  background-color: #eee !important;
}
tr.opened td {
  background-color: #eee !important;
}
.badge-no-icon::before {
  display: none;
}
td:first-child {
  margin-left: 30px;
}
