.clickable.accordion-header:hover,
.clickable.accordion-header:hover > td {
  cursor: pointer;
  background-color: #eee;
}

td.td-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.collapse-arrow::before {
  width: 30px;
}
.collapse-arrow.opened::before {
  background-color: #f6f6f6;
}

tr.opened {
  background-color: #f6f6f6 !important;
}
tr.opened td {
  background-color: #f6f6f6 !important;
}
.badge-no-icon::before {
  display: none;
}
td:first-child {
  margin-left: 30px;
}
