<div class="fr-grid-row">
  <div class="fr-col-12">
    <div class="fr-table fr-table--bordered fr-table--lg">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table id="table-10">
              <thead>
                <tr>
                  <th>
                    <span class="fr-cell__title" style="width:40%">Groupes</span>
                  </th>
                  <th>
                    <div class="fr-cell__title">Montant engagé</div>
                  </th>
                  <th>
                    <div class="fr-cell__title">Montant payé</div>
                  </th>
                  <th>
                    <div class="fr-cell__title"> </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr id="table-10-row-key-0" data-row-key="0">
                  <td style="text-align: right; width: 40%;"><b>TOTAL : </b><span class="fr-badge fr-badge--info">2</span></td>
                  <td style="text-align: center;">
                    <p class="fr-mr-2v fr-badge fr-badge--success">200€</p>
                  </td>
                  <td style="text-align: center;">
                    <p class="fr-mr-2v fr-badge fr-badge--success">200€</p>
                  </td>
                  <td>
                    <button>COUCOU</button>
                  </td>
                </tr>
              </tbody>
              <div data-fr-group="false" class="fr-accordions-group">
                <section class="fr-accordion">
                  <h3 class="fr-accordion__title">
                    <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-1">Libellé accordéon 1</button>
                  </h3>
                  <div class="fr-collapse" id="accordion-id-1">
  
                    <div data-fr-group="false" class="fr-accordions-group">
                      <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                          <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-11">Libellé accordéon 1</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-id-11">
                          <h4 class="fr-h4">Contenu </h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
                        </div>
                      </section>
                      <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                          <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-12">Libellé accordéon 2</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-id-12">
                          <h4 class="fr-h4">Contenu </h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
                        </div>
                      </section>
                      <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                          <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-13">Libellé accordéon 3</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-id-13">
                          <h4 class="fr-h4">Contenu </h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
                        </div>
                      </section>
                      <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                          <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-14">Libellé accordéon 4</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-id-14">
                          <h4 class="fr-h4">Contenu </h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
                        </div>
                      </section>
                    </div>
  
                  </div>
                </section>
                <section class="fr-accordion">
                  <h3 class="fr-accordion__title">
                    <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-2">Libellé accordéon 2</button>
                  </h3>
                  <div class="fr-collapse" id="accordion-id-2">
                    <h4 class="fr-h4">Contenu </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
                  </div>
                </section>
                <section class="fr-accordion">
                  <h3 class="fr-accordion__title">
                    <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-3">Libellé accordéon 3</button>
                  </h3>
                  <div class="fr-collapse" id="accordion-id-3">
                    <h4 class="fr-h4">Contenu </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
                  </div>
                </section>
                <section class="fr-accordion">
                  <h3 class="fr-accordion__title">
                    <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-4">Libellé accordéon 4</button>
                  </h3>
                  <div class="fr-collapse" id="accordion-id-4">
                    <h4 class="fr-h4">Contenu </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
                  </div>
                </section>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>