<div class="fr-grid-row">
  <div class="fr-col-12">
    <div class="fr-table fr-table--bordered fr-table--lg">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table id="table-10">
              <thead>
                <tr>
                  <th>
                    <span class="fr-cell__title" style="width:40%">Groupes</span>
                  </th>
                  <th>
                    <div class="fr-cell__title">Montant engagé</div>
                  </th>
                  <th>
                    <div class="fr-cell__title">Montant payé</div>
                  </th>
                  <th>
                    <div class="fr-cell__title"> </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr id="table-10-row-key-0" data-row-key="0">
                  <td style="text-align: right; width: 40%;"><b>TOTAL : </b><span class="fr-badge fr-badge--info">1000 lignes</span></td>
                  <td style="text-align: center;">
                    <p class="fr-mr-2v fr-badge fr-badge--success">200€</p>
                  </td>
                  <td style="text-align: center;">
                    <p class="fr-mr-2v fr-badge fr-badge--success">200€</p>
                  </td>
                  <td>
                  </td>
                </tr>

                <!-- <ng-container *budgetTreeAccordion="roots; level: 0; let node; let lvl = level"> -->
                  <!-- <tr class="accordion-header" (click)="toggle(node)" [class.opened]="node.opened">
                    <td class="td-group" [style.margin-left.px]="lvl * 40">
                      <span [ngClass]="'fr-icon-arrow-' + (node.opened ? 'down' : 'right') + '-s-line'"></span>
                      <div style="margin-left:30px;">
                        <p>{{getGroupingColumnByCode(node.groupedData.name).label}}</p>
                        <b>{{node.groupedData.colonne}}</b>
                      </div>
                    </td>
                    <td style="text-align: center;">
                      <p class="fr-mr-2v fr-badge fr-badge--success">
                        {{node.groupedData.total_montant_engage | currency:'EUR':'symbol':'1.0-2'}}
                      </p>
                    </td>
                    <td style="text-align: center;">
                      <p class="fr-mr-2v fr-badge fr-badge--success">
                        {{node.groupedData.total_montant_paye | currency:'EUR':'symbol':'1.0-2'}}
                      </p>
                    </td>
                    <td style="text-align: center;">
                      <button type="button" class="fr-btn fr-btn--secondary fr-icon-search-line fr-btn--icon-left">
                        Faire une recherche à partir de ce groupe
                      </button>
                    </td> -->
                  <!-- </tr> -->

                  <!-- @if (node.opened) {
                    <ng-container *budgetTreeAccordion="node.children; level: lvl + 1; let child; let clvl = level">
                      <tr class="accordion-header" (click)="toggle(node)" [class.opened]="node.opened">
                        <td class="td-group" [style.margin-left.px]="lvl * 40">
                          @if (node.parent) {
                            <span>⬤</span>
                          }
                          <span [ngClass]="'fr-icon-arrow-' + (node.opened ? 'down' : 'right') + '-s-line'"></span>
                          <div style="margin-left:30px;">
                            <p>{{getGroupingColumnByCode(node.groupedData.name).label}}</p>
                            <b>{{node.groupedData.colonne}}</b>
                          </div>
                        </td>
                        <td style="text-align: center;">
                          <p class="fr-mr-2v fr-badge fr-badge--success">
                            {{node.groupedData.total_montant_engage | currency:'EUR':'symbol':'1.0-2'}}
                          </p>
                        </td>
                        <td style="text-align: center;">
                          <p class="fr-mr-2v fr-badge fr-badge--success">
                            {{node.groupedData.total_montant_paye | currency:'EUR':'symbol':'1.0-2'}}
                          </p>
                        </td>
                        <td style="text-align: center;">
                          <button type="button" class="fr-btn fr-btn--secondary fr-icon-search-line fr-btn--icon-left">
                            Faire une recherche à partir de ce groupe
                          </button>
                        </td>
                      </tr>
                    </ng-container>
                  } -->
                <!-- </ng-container> -->

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>