// :host {
//   display: flex;
//   flex-direction: column;
//   min-height: 120dvh; // 120 car zoom: 0.8
//   zoom: 0.8;
// }

// .site-main {
//   margin: 0px 15px;
//   padding: 5px 15px;
//   flex: 1 0 auto;  /* fills remaining space */
//   min-height: 0;   /* important to allow shrinking */
//   overflow: auto;    /* this becomes the scroll container */
// }

// .back-to-top {
//   position: fixed;
//   bottom: 100px;
//   right: 30px;
//   box-shadow: 0 4px 6px rgba(0,0,0,0.2);
//   z-index: 1000;
// }
:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: #f5f5fe;
}

.spacer {
  flex: 1 1 auto;
}
