<lib-header-legacy [ngClass]="{'hidden': grid_fullscreen }" [title]="'Data QPV ' + region" [displayPreference]="false" [subTitle]="'Rechercher des données financières à l\'échelle des QPV'" [logo]="'DataQpvLogo.svg'">

  <li help>
    <button
      routerLink="aide" matTooltip="Aide"
      class="fr-btn fr-btn--tertiary-no-outline">Aide</button>
  </li>

</lib-header-legacy>

@if(progressBarVisible() === true) {
<div>
  <mat-progress-bar mode="query"/>
</div>
}


<router-outlet class="page-content-outlet"/>

@if(isAuthenticated) {
<lib-footer [ngClass]="{'hidden': grid_fullscreen }" [logo]="'DataEtat.svg'">
  @if(help) {
    <li class="fr-footer__bottom-item">
      <a class="fr-footer__bottom-link" href="{{help}}" target="_blank">Aide en
        ligne</a>
    </li>
  }
 
</lib-footer>
}

