<form [formGroup]="formSearch" autocomplete="off">

  <div class="box">

    <div class="field-bops-referentiels field-50-width">
      <lib-bops-referentiels
        [themes]="themes"
        [bops]="filteredBops"
        [referentiels]="filteredReferentiels"
        [(selectedThemes)]="selectedThemes"
        [(selectedBops)]="selectedBops"
        [(selectedReferentiels)]="selectedReferentiels" />
    </div>

    <div class="field-localisation field-30-width">
      <lib-localisation
        [textTooltip]="'Votre recherche affichera les résultats si le SIRET du bénéficiaire ou si la localisation interministérielle est géolocalisée dans la zone recherchée'"
        [(selectedNiveau)]="selectedNiveau"
        [(selectedLocalisation)]="selectedLocation" />
    </div>

    <lib-select-multiple 
      [(selected)]="selectedYear"
      [canFilter]="false"
      [canSelectAll]="true"
      [options]="annees"
      [placeholder]="'Année'"
      class="select-multiple field-15-width"
      icon="calendar_month"
      data-test-id="annees-form-field" />

    <div class="break"></div>

    <lib-advanced-chips-multiselect (inputChange)="onBeneficiaireInputChange($event)"
      [(selectedData)]="selectedBeneficiaires" [options]="(beneficiaireFieldOptions$ | async)!" appearance="fill"
      class="field-25-width field-beneficiaire" data-test-id="search-beneficiaires-control" label="Bénéficiaire(s)"
      matTooltip="Saisir un nom (sans accent) ou un SIRET (Exemple: Decathlon, Rennes... ou 40447186400433,...)"
      matTooltipPosition="above" placeholder="Saisissez au moins quatre caractères pour effectuer une recherche." />

    <lib-select-multiple [(selected)]="selectedTypesBenef" [canFilter]="false" [canSelectAll]="true"
      [options]="typesBenef" [placeholder]="'Type de bénéficiaire'" [renderFunction]="renderTypesBenefOption"
      [renderLabelFunction]="renderTypesBenefLabel" class="select-multiple field-15-width"
      data-test-id="types-beneficiaires-form-field" />

    <lib-advanced-chips-multiselect (inputChange)="onTagInputChange($event)" [(selectedData)]="selectedTags"
      [options]="(tagsFieldOptions$ | async)!" appearance="fill" class="field-25-width field-tags" label="Tags"
      placeholder="" />

    <div class="spacer"></div>

    <button (click)="doSearch()" aria-label="Bouton de recherche." color="primary" mat-fab matTooltip="Rechercher">
      <mat-icon fontIcon="search" />
    </button>

    @if (searchFinish === true) {
      <button (click)="reset()" 
        aria-label="Bouton de réinitialisation des critères de recherche" color="warn" mat-fab
        matTooltip="Effacer la recherche">
        <mat-icon fontIcon="delete" />
      </button>
    }
  </div>

</form>

@if (formSearch.controls.domaines_fonctionnels.value && formSearch.controls.domaines_fonctionnels.value.length > 0) {
  <div data-test-id="notif-additionnal-search-on-domaines-fonctionnels">
    <mat-icon aria-hidden="false" aria-label="information">information</mat-icon>
    <span>Attention, vous appliquez également un filtre sur le domaine fonctionnel</span>
  </div>
}

@if (formSearch.controls.sources_region.value && formSearch.controls.sources_region.value.length > 0) {
  <div data-test-id="notif-additionnal-search-on-source-region">
    <mat-icon aria-hidden="false" aria-label="information">information</mat-icon>
    <span>Attention, vous appliquez également un filtre sur la source region</span>
  </div>
}