<form [formGroup]="searchForm" autocomplete="off">
  <div class="box">

    <div class="element field-20-width">
      <!-- Axe du Plan de relance -->
      <mat-form-field appearance="fill">
        <mat-label>Axe du plan de relance</mat-label>
        <mat-select formControlName="axe_plan_relance" multiple>
          <mat-option *ngFor="let axe of axe_plan_relance" [value]="axe">
            <span>
              <span class="fr-tag fr-tag--sm">
              {{ axe.annotation }}
              </span>
            </span>
            <span>
              {{ axe.axe }} - {{ axe.label }}
            </span>
          </mat-option>
          <mat-select-trigger>
            {{ axePlanDeRelanceControls.value && axePlanDeRelanceControls.value.length ? axePlanDeRelanceControls.value[0].label : '' }}
            @if(axePlanDeRelanceControls.value?.length > 1) {
              <span class="example-additional-selection">
                (+{{ axePlanDeRelanceControls.value.length - 1 }} {{
                  axePlanDeRelanceControls.value?.length === 2 ? 'autre' :
                    'autres'
                }})
              </span>
            }
          </mat-select-trigger>
        </mat-select>
        @if(axePlanDeRelanceControls.value !== null) {
          <button (click)="cancelAxe()" mat-icon-button matSuffix>
            <mat-icon>close</mat-icon>
          </button>
        }
        
      </mat-form-field>
    </div>

    <div class="element field-30-width">
      <lib-localisation
        [(selectedLocalisation)]="filteredLocalisation.location"
        [(selectedNiveau)]="filteredLocalisation.niveau" />
    </div>

    <div class="element field-30-width">
      <mat-form-field appearance="fill">
        <mat-label>Lauréat</mat-label>
        <input [matAutocomplete]="structure" formControlName="structure" matInput type="text">
        <button (click)="searchForm.controls['structure'].setValue(null)"
                *ngIf="searchForm.controls['structure'].value !== null" mat-icon-button
                matSuffix>
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #structure="matAutocomplete" (optionSelected)="onSelectLaureat($event.option.value)"
                          [displayWith]="displayLaureat">
          <mat-option *ngFor="let laureat of filteredLaureat | async" [value]="laureat">
            {{ displayLaureat(laureat) }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="spacer"></div>

    <button (click)="doSearch()" color="primary" mat-fab>
      <mat-icon fontIcon="search" />
    </button>

    <button (click)="reset()" *ngIf="searchFinish === true" color="warn" mat-fab matTooltip="Reset le formulaire">
      <mat-icon fontIcon="disabled_by_default" />
    </button>

  </div>
</form>

<div *ngIf="warningMessage" class="fr-alert fr-alert--info">
  {{ warningMessage }}
</div>

