<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Charger des nouvelles données financières</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="line">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Année</mat-label>
          <mat-select [(ngModel)]="yearSelected" required>
            <mat-option *ngFor="let year of years" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>calendar_month</mat-icon>
        </mat-form-field>
      </div>

      <div class="col">
        <input #fileUploadAe (change)="fileFinancialAe = getFile($event)" [accept]="requiredFileType" class="file-input"
               type="file">
        <div class="file-upload">

          <span>{{ fileFinancialAe !== null ? fileFinancialAe.name : "Engagements (AE)" }}</span>

          <button (click)="fileUploadAe.click()" *ngIf="fileFinancialAe === null" class="upload-btn" color="primary"
                  mat-mini-fab>
            <mat-icon>attach_file</mat-icon>
          </button>

          <button (click)="fileFinancialAe = null" *ngIf="fileFinancialAe !== null" class="cancel-upload" color="warn"
                  mat-mini-fab>
            <mat-icon (click)="fileFinancialAe = null" class="cancel-upload">delete_forever</mat-icon>
          </button>

        </div>
      </div>

      <div class="col">
        <input #fileUploadCp (change)="fileFinancialCp = getFile($event)" [accept]="requiredFileType" class="file-input"
               type="file">
        <div class="file-upload">

          <span>{{ fileFinancialCp !== null ? fileFinancialCp.name : "Montants payés (CP)" }}</span>

          <button (click)="fileUploadCp.click()" *ngIf="fileFinancialCp === null" class="upload-btn" color="primary"
                  mat-mini-fab>
            <mat-icon>attach_file</mat-icon>
          </button>

          <button (click)="fileFinancialCp = null" *ngIf="fileFinancialCp !== null" class="cancel-upload" color="warn"
                  mat-mini-fab>
            <mat-icon (click)="fileFinancialCp = null" class="cancel-upload">delete_forever</mat-icon>
          </button>

        </div>
      </div>

      <div class="col">
        <button (click)="uploadFinancialFiles()" (disabled)="uploadInProgress.value === true"
                *ngIf="fileFinancialAe !== null && fileFinancialCp !== null"
                color="primary"
                mat-fab>
          <mat-icon fontIcon="upload_file" />
        </button>
      </div>

    </div>
  </mat-card-content>
</mat-card>

<hr>

<mat-card *ngIf="isAdmin" class="mat-card">
  <mat-card-header>
    <mat-card-title>Mettre à jour les référentiels</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="line">

      <div class="col">
        <input #fileUploadReferentiel (change)="fileReferentiel = getFile($event)" accept=".xlsx" class="file-input"
               type="file">
        <div class="file-upload">

          <span>{{
              fileReferentiel !== null ? fileReferentiel.name : "Sélectionner le fichier calculette chorus"
            }}</span>

          <button (click)="fileUploadReferentiel.click()" *ngIf="fileReferentiel === null" class="upload-btn"
                  color="primary"
                  mat-mini-fab>
            <mat-icon>attach_file</mat-icon>
          </button>

          <button (click)="fileReferentiel = null" *ngIf="fileReferentiel !== null" class="cancel-upload" color="warn"
                  mat-mini-fab>
            <mat-icon (click)="fileReferentiel = null" class="cancel-upload">delete_forever</mat-icon>
          </button>
        </div>
      </div>

      <button (click)="uploadReferentiel()" (disabled)="uploadInProgress.value === true"
              *ngIf="fileReferentiel !== null" color="primary"
              mat-fab>
        <mat-icon fontIcon="upload_file" />
      </button>

    </div>
  </mat-card-content>
</mat-card>

<hr>

<mat-card *ngIf=" dataSource.length> 0" class="mat-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Historique des 10 derniers chargements des données financières</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content class="fr-col-6">
    <table [dataSource]="dataSource" class="fr-table fr-table--no-caption" mat-table>
      <caption>Liste des derniers fichiers chargés</caption>
      <ng-container matColumnDef="username">
        <th *matHeaderCellDef mat-header-cell>Utilisateur</th>
        <td *matCellDef="let element" mat-cell>{{ element.username }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="filename">
        <th *matHeaderCellDef mat-header-cell>Fichier</th>
        <td *matCellDef="let element" mat-cell>{{ element.filename }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell>Date</th>
        <td *matCellDef="let element" mat-cell>
          <lib-display-date [date]="element.date" />
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>


  </mat-card-content>

</mat-card>