<mat-card class="mat-card">
  <mat-card-header [ngClass]="{'hidden': grid_fullscreen }">
    <mat-card-title>Rechercher des données financières à l'échelle des QPV</mat-card-title>
    <mat-card-subtitle>Affiche les données des territoires et leurs crédits</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="content-column">
    <data-qpv-search-data (searchResultsEventEmitter)="currentSearchFilter = $event" (currentFilter)="newFilter = $event"
      [preFilter]="preFilter" [ngClass]="{ 'hidden': grid_fullscreen }"/>

      <data-qpv-superset-iframe class="superset-dashboard-credit-wrapper" dashboardSlugType="credit" dashboardArgsCreditType="p147" [searchArgs]="currentSearchFilter"></data-qpv-superset-iframe>
  </mat-card-content>
</mat-card>
