<div style="background-color:#fff;">
  <div class="fr-container">
    <div class="fr-grid-row">

      <div class="fr-col-12">
        <h3 style="margin-top:50px; margin-bottom:10px;">Rechercher des données financières à l'échelle des QPV</h3>
        <p>Affiche les données des territoires et leurs crédits</p>
      </div>

      <data-qpv-search-data (searchResultsEventEmitter)="currentSearchFilter = $event"
                            (currentFilter)="newFilter = $event"
                            [preFilter]="preFilter"
                            [ngClass]="{ 'hidden': grid_fullscreen }"
                            class="fr-col-12"
                            style="margin-bottom:30px;" />

    </div>
  </div>
</div>

<div style="background-color:#f5f5fe;">
  <div class="fr-container">
    <div class="fr-grid-row">

      <div class="fr-col-6">

        <span style="margin: 30px 0px; display: inline-block; padding: 10px 30px; border-radius: 30px; color: white; background-color: #000091;">QPV : Château - 2021, 2022, 2023</span>

        <data-qpv-superset-iframe class="superset-dashboard-credit-wrapper" dashboardSlugType="credit" dashboardArgsCreditType="p147" [searchArgs]="currentSearchFilter"></data-qpv-superset-iframe>
      </div>

      <div class="fr-col-6">
        <p style="text-align: center; margin-top: 30px;">Cartographie & Tableau</p>
      </div>

    </div>
  </div>
</div>
