:host {
  display: flex;
  flex-direction: column;
}

.table-toolbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: var(--background-contrast-grey);
}

.mat-card{
  flex: 1;
  min-height: 750px;
}

.content-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: .5rem;
}


.no-content {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.last-import {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: auto;

  color: var(--text-mention-grey);
  font-size: .75rem;
  line-height: 1.25rem;
  font-style: italic;
}

.info-icon {
  margin-right: .5em;
}

.superset-dashboard-credit-wrapper {
  width: 50%;
  height: 500px;
  min-height: 500px;
  max-height: 500px;
}

.search-resume {
  display: inline-block;
  margin: 30px 0px;
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
  background-color: #000091;
}