<dsfr-tabs [selectedTabIndex]="selectedTabIndex" [tabsAriaLabel]="tabsAriaLabel" [fullViewport]="fullViewport" (tabSelect)="emitSelectedTab($event)">
  <dsfr-tab tabId="tab-iframe-1" label="Crédits P147">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12">
        <data-qpv-superset-iframe class="superset-dashboard-credit-wrapper" dashboardSlugType="credit" dashboardArgsCreditType="p147" [searchArgs]="searchArgs" />
      </div>
    </div>
  </dsfr-tab>
  <dsfr-tab tabId="tab-iframe-2" label="Crédits droit commun">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12">
        <data-qpv-superset-iframe class="superset-dashboard-credit-wrapper" dashboardSlugType="credit" dashboardArgsCreditType="commun" [searchArgs]="searchArgs" />
      </div>
    </div>
  </dsfr-tab>
  <dsfr-tab tabId="tab-iframe-3" label="Total des crédits">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12">
        <data-qpv-superset-iframe class="superset-dashboard-credit-wrapper" dashboardSlugType="credit" [searchArgs]="searchArgs" />
      </div>
    </div>
  </dsfr-tab>
</dsfr-tabs>
