:host {
  display: flex;
  flex-direction: column;
}

.table-toolbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: var(--background-contrast-grey);
}

.mat-card{
  flex: 1;
  min-height: 750px;
}

.content-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// .main-content {
//   flex: 1;
//   min-height: 0;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   row-gap: .5rem;
// }
.fr-grid-row {
  align-items: stretch; /* ensure columns stretch equally */
}

.fr-col-6 {
  display: flex;
  flex-direction: column;
}

.fr-col-6 > * {
  flex: 1; /* makes inner component take full height */
  display: flex;
  flex-direction: column;
}

.no-content {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.last-import {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: auto;

  color: var(--text-mention-grey);
  font-size: .75rem;
  line-height: 1.25rem;
  font-style: italic;
}

.info-icon {
  margin-right: .5em;
}

.superset-dashboard-credit-wrapper {
  width: 50%;
  height: 500px;
  min-height: 500px;
  max-height: 500px;
}

.search-resume {
  display: inline-block;
  margin-bottom: 30px;
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
  background-color: #000091;
}



// Spinner
.fr-spinner {
  display: inline-block;
  border-radius: 50%;
  border: 0.25rem solid var(--background-action-high-blue-france);
  border-right-color: transparent;
  animation: spin 1s linear infinite;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
}
.fr-spinner--sm > .fr-spinner {
  width: 1rem;
  height: 1rem;
  border-width: 0.125rem;
}
.fr-spinner--md > .fr-spinner {
  width: 2rem;
  height: 2rem;
  border-width: 0.25rem;
}
.fr-spinner--lg > .fr-spinner {
  width: 3rem;
  height: 3rem;
  border-width: 0.375rem;
}
.fr-spinner-message {
  font-size: 16px;
  margin-left: 10px;
}
.fr-spinner--sm > .fr-spinner-message {
  font-size: 16px;
}
.fr-spinner--md > .fr-spinner-message {
  font-size: 20px;
}
.fr-spinner--lg > .fr-spinner-message {
  font-size: 24px;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}