<div class="fr-container">
  <div class="fr-grid-row">

    <budget-nav-compagnon-ds [currentStep]="3" [title]="'Afficher ma démarche'" [totalStep]="3" class="fr-col-8"
      style="margin-top:30px;" />

    <div class="fr-col-12">
      @if(requestsDone) {
      <div class="fr-alert fr-alert--info" style="margin-bottom:30px;">
        <h3 class="fr-alert__title">Cadre défini</h3>
        <p>Pour {{ nbDossiers }} dossiers acceptés, {{ matchingLines }} lignes financières Chorus ont pu être cadrées
          (démarche {{ demarche?.number }})</p>
      </div>
      }

    </div>

    <form (submit)="saveAffichage()" [formGroup]="affichageForm" class="fr-col-12">
      <div class="fr-grid-row">
        <div class="fr-col-6" style="margin-bottom:30px; padding-right:30px;">
          <div class="fr-select-group">
            <label class="fr-label" for="nomProjet">Nom du projet</label>
            <select class="fr-select" formControlName="nomProjet" id="nomProjet">
              <option disabled hidden selected value="">Sélectionner une option</option>
              @for(donnee of donnees; track donnee.id) {
              <option [value]="donnee.id_ds">{{ donnee.label }}</option>
              }
            </select>
          </div>
          <div class="fr-select-group">
            <label class="fr-label" for="descriptionProjet">Description du projet</label>
            <select class="fr-select" formControlName="descriptionProjet" id="descriptionProjet">
              <option disabled hidden selected value="">Sélectionner une option</option>
              @for(donnee of donnees; track donnee.id) {
              <option [value]="donnee.id_ds">{{ donnee.label }}</option>
              }
            </select>
          </div>
          <div class="fr-select-group">
            <label class="fr-label" for="categorieProjet">Catégorie du projet</label>
            <select class="fr-select" formControlName="categorieProjet" id="categorieProjet">
              <option disabled hidden selected value="">Sélectionner une option</option>
              @for(donnee of donnees; track donnee.id) {
              <option [value]="donnee.id_ds">{{ donnee.label }}</option>
              }

            </select>
          </div>
          <div class="fr-select-group">
            <label class="fr-label" for="coutProjet">Coût prévisionnel du projet</label>
            <select class="fr-select" formControlName="coutProjet" id="coutProjet">
              <option disabled hidden selected value="">Sélectionner une option</option>
              @for(donnee of donnees; track donnee.id) {
              <option [value]="donnee.id_ds">{{ donnee.label }}</option>
              }
            </select>
          </div>
        </div>
        <div class="fr-col-6" style="margin-bottom:30px; padding-left:30px;">
          <div class="fr-select-group">
            <label class="fr-label" for="montantDemande">Montant demandé</label>
            <select class="fr-select" formControlName="montantDemande" id="montantDemande">
              <option disabled hidden selected value="">Sélectionner une option</option>
              @for(donnee of donnees; track donnee.id) {
              <option [value]="donnee.id_ds">{{ donnee.label }}</option>
              }
            </select>
          </div>
          <div class="fr-select-group">
            <label class="fr-label" for="montantAccorde">Montant accordé</label>
            <select class="fr-select" formControlName="montantAccorde" id="montantAccorde">
              <option disabled hidden selected value="">Sélectionner une option</option>
              @for(donnee of donnees; track donnee.id) {
              <option [value]="donnee.id_ds">{{ donnee.label }}</option>
              }
            </select>
          </div>
          <div class="fr-select-group">
            <label class="fr-label" for="dateFinProjet">Date de fin de projet</label>
            <select class="fr-select" formControlName="dateFinProjet" id="dateFinProjet">
              <option disabled hidden selected value="">Sélectionner une option</option>
              @for(donnee of donnees; track donnee.id) {
              <option [value]="donnee.id_ds">{{ donnee.label }}</option>
              }
            </select>
          </div>
          <div class="fr-select-group">
            <label class="fr-label" for="contact">Contact</label>
            <select class="fr-select" formControlName="contact" id="contact">
              <option disabled hidden selected value="">Sélectionner une option</option>
              @for(donnee of donnees; track donnee.id) {
              <option [value]="donnee.id_ds">{{ donnee.label }}</option>
              }
            </select>
          </div>
        </div>
        <div class="fr-col-12">
          <hr>
        </div>
        <div class="fr-col-12" style="display: flex; justify-content: space-between; margin-bottom:30px;">
          <button [queryParams]="{ 'number': demarche?.number}" routerLink="reconciliation"
            class="fr-btn fr-btn--primary fr-btn--icon-left fr-icon-arrow-left-line">Etape précédente
          </button>
          <button class="fr-btn fr-btn--primary fr-btn--icon-left fr-icon-success-line" data-test-id="btnSubmit"
            type="submit">Valider
          </button>
        </div>
      </div>
    </form>
  </div>
</div>