<div class="fr-grid-row">
  <div class="fr-col-12 table-toolbar">
    <span class="left-buttons">
      @if (!grid_fullscreen() && !isGrouped()) {
        <button data-fr-opened="false" aria-controls="modalColonnes" type="button" aria-label="Choisir les colonnes"
          class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-table-line" data-test-id="chose-columns-btn">
          Choisir les colonnes
        </button>
      }
      @if (!grid_fullscreen()) {
        <button data-fr-opened="false" aria-controls="modalGrouping" type="button" aria-label="Grouper les lignes par"
          class="fr-btn fr-btn--secondary fr-btn--icon-left" data-test-id="group-by-btn"
          [ngClass]="{
            'fr-btn--primary': selectedGrouping !== null && selectedGrouping.length !== 0,
            'fr-icon-menu-2-fill fr-btn--secondary': selectedGrouping === null || selectedGrouping.length === 0
          }">
          @if (selectedGrouping !== null && selectedGrouping.length !== 0) {
            <p  class="fr-tag fr-tag--sm" style="margin-right: 10px;">{{selectedGrouping.length}}</p>
          }
          @if (selectedGrouping.length !== 0 && selectedGrouping.length === selectedGrouped.length) {
            Lignes issues du groupement : 
          } @else {
            Grouper les lignes par 
          }
        </button>
        @if (selectedGrouping.length !== 0 && selectedGrouping.length === selectedGrouped.length) {
        
          <button type="button" 
            class="fr-btn fr-btn--sm fr-icon-arrow-up-s-line fr-btn--icon-left fr-btn--secondary"
            (click)="onRetourClick()">Retour</button>
          
          @for (grouping of selectedGrouping; track grouping.label; let i = $index) {
            <span class="fr-badge fr-badge--sm fr-badge--info" style="padding:10px; border: 1px solid #0063cb;">{{grouping.label}} : {{selectedGrouped[i]}}</span>
          }
        }

      }
    </span>
    <span class="right-buttons">
        @if (!grid_fullscreen()) {
          <button data-fr-opened="false" aria-controls="modalSauvegarde" type="button" aria-label="Sauvegarder la recherche"
            class="fr-btn fr-btn--icon-left fr-btn--secondary fr-icon-save-fill">
            Sauvegarder la recherche
          </button>
        }

        @if(!grid_fullscreen() && searchFinish === true && !isGrouped()) {
          <button
            [disabled]="is_export_disabled"
            [matTooltip]="export_tooltip"
            data-fr-opened="false" 
            aria-controls="modalExport" 
            type="button" 
            aria-label="Télécharger les données"
            class="fr-btn fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-download-fill"
            data-test-id="download-btn">
            Télécharger les données
          </button>
        }

        <button (click)="toggleGridFullscreen()"
          [ngClass]="{ 'fr-icon-subtract-line': grid_fullscreen(), 'fr-icon-fullscreen-line': !grid_fullscreen() }"
          aria-label="Bouton de contrôle du plein écran" class="fr-btn fr-btn--secondary fr-btn--icon-left"
          data-test-id="toggle-grid-fullscreen-btn">
          {{ fullscreen_label }}
        </button>

      </span>
  </div>
  <budget-modal-grouping />
  <budget-modal-colonnes />
  <budget-modal-sauvegarde />
  <budget-modal-export  />
</div>