<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>

  <mat-card-content class="content-column">
    <table mat-table [dataSource]="tokens" class="mat-elevation-z1" style="margin-bottom: 10px">

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let token"> {{ token.nom }}</td>
      </ng-container>

      <ng-container matColumnDef="token">
        <th mat-header-cell *matHeaderCellDef>Token</th>
        <td mat-cell *matCellDef="let token"> {{ token.token }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell> Actions</th>
        <td *matCellDef="let token" mat-cell>
          <button aria-label="Edit" class="centered-item" color="primary" mat-mini-fab matTooltip="Modifier le token"
                  (click)="openEditTokenDialog('UPDATE', token)">
            <mat-icon>edit</mat-icon>
          </button>
          <button aria-label="Delete" class="centered-item" color="warn" mat-mini-fab matTooltip="Supprimer le token"
                  style="margin-left: 5px" (click)="deleteToken(token)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <button class="fr-btn fr-btn--primary" (click)="openEditTokenDialog('CREATE', null)">Ajouter un token</button>
  </mat-card-content>
</mat-card>
