<dsfr-tabs [selectedTabIndex]="selectedTabIndex" [tabsAriaLabel]="tabsAriaLabel" [fullViewport]="fullViewport">


    <dsfr-tab tabId="tab-table" label="Tableau">
      <div class="wrapper-tab-content">

        @if(!dataLoaded) {
        <div class="spinner-wrapper">
          <lib-spinner />
        </div>
        } @else {
        <div class="fr-grid-row fr-grid-row--gutters test">
          <div class="fr-col-12">
            <dsfr-datatable #datatable
              [caption]="''"
              [data]="mappedResults"
              [columns]="columns"
              [showSearch]="false"
              [rowsPerPageOptions]="rowsPerPageOptions"
              [pagination]="true"
              [initialState]="initialState"
              />
          </div>
        </div>
        }
      </div> 
    </dsfr-tab>

    <dsfr-tab tabId="tab-cartographie" label="Cartographie">
      <div class="wrapper-tab-content">
      @if(dataLoaded) {
        <div class="fr-grid-row fr-grid-row--gutters test">
          <div class="fr-col-12">
            <data-qpv-map [searchArgs]="searchArgs" />
          </div>
        </div>
      }
      </div>
    </dsfr-tab>
</dsfr-tabs>
