<ng-container *ngIf="displayError && error?.name else form">
  <div class="box" data-test-id="search-cmp-error-msg">
    <div class="fr-alert fr-alert--error">
      <p>{{error?.message}}</p>
    </div>
  </div>
</ng-container>

<ng-template #form>
  <form [formGroup]="searchForm" autocomplete="off">
    <div class="box fr-grid-row">
      <div class="fr-col-2" style="padding-right:8px">
        <lib-select-multiple [canFilter]="false" [canSelectAll]="true" [placeholder]="'Année'" [options]="annees" [(selected)]="selectedAnnees" data-test-id="annees-form-field" class="select-multiple" icon="calendar_month"/>
      </div>
      <div class="field-localisation fr-col-5" style="padding-right:8px">
        <lib-localisation [(selectedNiveau)]="selectedNiveau" [(selectedLocalisation)]="selectedLocalisations" [niveauxExcludeFilter]="['QPV']"/>
      </div>
      <div class="fr-col-3" style="padding-right:8px">
        <lib-select-multiple  [canFilter]="true"
                              [canSelectAll]="false"
                              [placeholder]="'QPV'"
                              [options]="filteredQPV"
                              [(selected)]="selectedQpv"
                              [filterFunction]="filterQPV"
                              [renderLabelFunction]="renderQPVLabel"
                              [renderFunction]="renderQPVOption"
                              data-test-id="qpv-form-field" />
      </div>
      <div class="col-fr-2">
        <ul class="fr-btns-group fr-btns-group--inline">
          <li>
            <button class="fr-btn fr-icon-search-line" (click)="doSearch()" aria-label="Bouton de recherche." style="width: 3.5rem; height: 3.5rem; max-width: 3.5rem; max-height: 3.5rem; padding-left: 1rem;"></button>
          </li>
          <li>
            <button class="fr-btn fr-btn--secondary fr-icon-delete-line" (click)="reset()" aria-label="Bouton de réinitialisation des critères de recherche" style="width: 3.5rem; height: 3.5rem; max-width: 3.5rem; max-height: 3.5rem; padding-left: 1rem;"></button>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="box fr-grid-row">
      <div class="fr-col-10">
        <ul class="fr-btns-group fr-btns-group--inline">
          <li>
            <button (click)="openModalFinanceurs()" class="fr-btn fr-btn--tertiary fr-btn--icon-right fr-icon-arrow-right-s-line" style="max-width: max-content; padding: 1rem; font-size: .9rem;">Financeur</button>
          </li>
          <li>
            <button (click)="openModalThematiques()" class="fr-btn fr-btn--tertiary fr-btn--icon-right fr-icon-arrow-right-s-line" style="max-width: max-content; padding: 1rem; font-size: .9rem;">Thématique</button>
          </li>
          <li>
            <button (click)="openModalPorteurs()" class="fr-btn fr-btn--tertiary fr-btn--icon-right fr-icon-arrow-right-s-line" style="max-width: max-content; padding: 1rem; font-size: .9rem;">Nom du porteur de projet</button>
          </li>
          <li>
            <button (click)="openModalTypesPorteur()" class="fr-btn fr-btn--tertiary fr-btn--icon-right fr-icon-arrow-right-s-line" style="max-width: max-content; padding: 1rem; font-size: .9rem;">Type de porteur de projet</button>
          </li>
        </ul>
      </div>
      <div class="fr-col-2">
        <a class="fr-link" href="#" (click)="openSaveFilterDialog()">Sauvegarder la recherche</a>
      </div>
    </div>

    <modal-additional-params #modalAdditionalParams [formGroup]="searchForm"></modal-additional-params>

  </form>
</ng-template>