.dashboard-card {
  padding: 15px;
  background-color: #fff3fe;
}

.dashboard-card-title {
  font-weight: 700;
  color: #a558a0;
}

.dashboard-card-value {
  margin-bottom: 0;
  text-align: center;
}
