<dsfr-tabs [selectedTabIndex]="selectedTabIndex" style="margin-bottom: 100px;">
    <dsfr-tab tabId="tab-table" label="Tableau">
      <div class="wrapper-tab-content">

        @if(searchFormInProgress()) {
        <div class="spinner-wrapper">
          <lib-spinner />
        </div>
        } @else {
        <div class="fr-grid-row fr-grid-row--gutters test">
          <div class="fr-col-12">
            <dsfr-datatable #datatable
              [caption]="''"
              [data]="searchResults()"
              [columns]="columns"
              [showSearch]="false"
              [pagination]="true"
              [initialState]="initialState"
              >
              <ng-template #tableBodyTemplate let-row let-rowOptions>
                <tr>
                  <td>{{ row.siret?.nom_beneficiaire ?? 'N/A' }}</td>
                  <td>{{ row.montant_ae }}</td>
                  <td>{{ row.annee }}</td>
                  <td>{{ row.centre_couts?.code ?? 'N/A' }}</td>
                  <td>{{ row.centre_couts?.description ?? 'N/A' }}</td>
                  <td>{{ row.programme?.theme ?? 'N/A' }}</td>
                  <td>{{ row.programme?.code ?? 'N/A' }}</td>
                  <td>{{ row.lieu_action?.code_qpv ?? 'N/A' }}</td>
                  <td>{{ row.lieu_action?.label_qpv ?? 'N/A' }}</td>
                  <td>{{ row.commune?.label ?? 'N/A' }}</td>
                  <td>{{ row.commune?.label_departement ?? 'N/A' }}</td>

                </tr>
              </ng-template>

              </dsfr-datatable>
          </div>
        </div>
        }
      </div> 
    </dsfr-tab>

    <dsfr-tab tabId="tab-cartographie" label="Cartographie">
      <div class="wrapper-tab-content">
      @if (!searchFormInProgress()) {
        <div class="fr-grid-row fr-grid-row--gutters test">
          <div class="fr-col-12">
            <data-qpv-map />
          </div>
        </div>
      }
      </div>
    </dsfr-tab>
</dsfr-tabs>
