:host {
  display: flex;
  flex-direction: column;
  min-height: 120dvh; // 120 car zoom: 0.8
  height: 100%;
  zoom: 0.8;
}

.site-main {
  margin: 0px 15px;
  padding: 5px 15px;
  flex: 1 0 auto;  /* fills remaining space */
  min-height: 0;   /* important to allow shrinking */
  overflow: auto;    /* this becomes the scroll container */
}
