:host {
  display: flex;
  flex-direction: column;
}


.site-main {
  margin: 0px 15px;
  padding: 5px 15px;
  flex: 1 0 auto;  /* fills remaining space */
  min-height: 0;   /* important to allow shrinking */
  overflow: auto;    /* this becomes the scroll container */
}

.back-to-top {
  position: fixed;
  bottom: 100px;
  right: 30px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  z-index: 1000;
}