
.box .select-multiple + .select-multiple, .box .field-localisation + .select-multiple, .box .field-localisation, .select-multiple + .field-tags {
  margin-left: 8px;
}

.box button {
  margin-left: 15px
}

form .mat-fab {
  margin-left: 8px;
}

.box:has(.fr-alert) {
  display: flex;
  justify-content: center;
}

.spacer {
  flex-grow: 0;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.field-100-width {
  width: 100%;
}

.field-50-width {
  width: 50%;
}

.field-30-width {
  width: 30%;
}

.field-25-width {
  width: 25%;
}

.field-20-width {
  width: 15%;
}

.field-15-width {
  width: 15%;
}

.field-10-width {
  width: 10%;
}

@media (max-width: 800px) {
  .box {
    flex-direction: column;
  }
}


/* Fine tuning for form fields layout */
.field-beneficiaire {
  margin-right: 8px;
  width: 35em;
}
.no-content {
  justify-content: center;
  align-items: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}


.fr-spinner {
  display: inline-block;
  border-radius: 50%;
  border: 0.25rem solid var(--background-action-high-blue-france);
  border-right-color: transparent;
  animation: spin 1s linear infinite;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
}
.fr-spinner--sm > .fr-spinner {
  width: 1rem;
  height: 1rem;
  border-width: 0.125rem;
}
.fr-spinner--md > .fr-spinner {
  width: 2rem;
  height: 2rem;
  border-width: 0.25rem;
}
.fr-spinner--lg > .fr-spinner {
  width: 3rem;
  height: 3rem;
  border-width: 0.375rem;
}
.fr-spinner-message {
  font-size: 16px;
  margin-left: 10px;
}
.fr-spinner--sm > .fr-spinner-message {
  font-size: 16px;
}
.fr-spinner--md > .fr-spinner-message {
  font-size: 20px;
}
.fr-spinner--lg > .fr-spinner-message {
  font-size: 24px;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.title-wrapper {
  display: flex;
  align-items: center;
}
.title-wrapper > h6 {
  margin: 20px 0px;
}
.last-import {
  color: var(--text-mention-grey);
  font-size: .75rem;
  line-height: 1.25rem;
  font-style: italic;
  margin-left: 30px;
}
