
.box .select-multiple + .select-multiple, .box .field-localisation + .select-multiple, .box .field-localisation, .select-multiple + .field-tags {
  margin-left: 8px;
}

.box button {
  margin-left: 15px
}

form .mat-fab {
  margin-left: 8px;
}

.box:has(.fr-alert) {
  display: flex;
  justify-content: center;
}

.spacer {
  flex-grow: 0;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.field-100-width {
  width: 100%;
}

.field-50-width {
  width: 50%;
}

.field-30-width {
  width: 30%;
}

.field-25-width {
  width: 25%;
}

.field-20-width {
  width: 15%;
}

.field-15-width {
  width: 15%;
}

.field-10-width {
  width: 10%;
}

@media (max-width: 800px) {
  .box {
    flex-direction: column;
  }
}


/* Fine tuning for form fields layout */
.field-beneficiaire {
  margin-right: 8px;
  width: 35em;
}
.no-content {
  justify-content: center;
  align-items: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.title-wrapper {
  display: flex;
  align-items: center;
}
.title-wrapper > h6 {
  margin: 20px 0px;
}
.last-import {
  color: var(--text-mention-grey);
  font-size: .75rem;
  line-height: 1.25rem;
  font-style: italic;
  margin-left: 30px;
}
