
@if(displayError && error.name) {
  <div class="fr-container" data-test-id="application-error-message">
    <div class="fr-grid-row">
      <div class="fr-col-12">
        <div class="fr-alert fr-alert--error" style="margin-top:50px;">
          <h3 class="fr-alert__title">Erreur</h3>
          <p>{{error.message}}</p>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="fr-container--fluid">
    <div class="fr-grid-row">
      <div class="fr-col-12">

      <div class="title-wrapper" [style.display]="grid_fullscreen() ? 'none' : ''">
        <h6>Rechercher des données financières</h6>
        <!-- TODO Bug ExpressionChangedAfterItHasBeenCheckedError => passer en signals-->
        @if(lastImportDate) {
          <div class="last-import">
              Le dernier chargement complet des données financières date du
              <lib-display-date [date]="lastImportDate" />
              . <br>
              Les données prennent donc en compte la situation au dernier jour du mois précédent.
          </div>
        }
      </div>
        
        <budget-search-data [style.display]="showSearchForm() ? '' : 'none'" />

        <div class="main-content overlay-container" [class.no-content]="!shouldShowContent()">
          @if (selectedLine()) {
            <budget-infos-ligne />
          } @else {
            @if (shouldShowEmptyMessage()) {
              <div class="fr-alert fr-alert--info">
                <h4 class="fr-alert__title">Aucun résultat</h4>
                <p>Aucune donnée ne correspond à vos critères de recherche. Essayez de modifier vos filtres ou d'élargir votre recherche.</p>
              </div>
            }
            @else if (searchResults() && searchResults().length > 0) {
              <budget-table-toolbar [grouped]="grouped" />
              @if (grouped) {
                @if(searchGroupingInProgress) {
                  <div class="fr-alert fr-alert--info">
                    <h4 class="fr-alert__title">Recherche en cours</h4>
                    <p>Recherche des données financières en cours, veuillez patienter...</p>
                  </div>
                }
                @else { 
                  <budget-groups-table />
                }
              }
              @else {
                <budget-lines-table />
              }
            }
            @else if (searchInProgress()) {
              <div class="fr-alert fr-alert--info">
                <h4 class="fr-alert__title">Recherche en cours</h4>
                <p>Recherche des données financières en cours, veuillez patienter...</p>
              </div>
            }
            @else {
              <div class="fr-alert fr-alert--info">
                <h4 class="fr-alert__title">Prêt pour la recherche</h4>
                <p>Utilisez les filtres ci-dessus pour rechercher des données financières.</p>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </div>
}
