<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Chargez les données france 2030</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="line">

      <div class="col">
        <input type="file" class="file-input" [accept]="requiredFileType" (change)="fileFrance2030 = getFile($event)" #fileFrance2030Upload>
        <div class="file-upload">

          <span>{{ fileFrance2030 !== null ? fileFrance2030.name : "Sélectionner un fichier csv" }}</span>

          <button mat-mini-fab color="primary" class="upload-btn" *ngIf="fileFrance2030 === null"
            (click)="fileFrance2030Upload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>

          <button mat-mini-fab color="warn" class="cancel-upload" *ngIf="fileFrance2030 !== null"
            (click)="fileFrance2030 = null">
            <mat-icon class="cancel-upload" (click)="fileFrance2030 = null">delete_forever</mat-icon>
          </button>

        </div>
      </div>

      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Année</mat-label>
          <mat-select required [(ngModel)]="yearSelected">
            <mat-option *ngFor="let year of years" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>calendar_month</mat-icon>
        </mat-form-field>
      </div>

      <button mat-fab color="primary" *ngIf="fileFrance2030 !== null" (click)="uploadFrance2030File()"
        (disabled)="uploadInProgress.value === true">
        <mat-icon fontIcon="upload_file" />
      </button>

    </div>
  </mat-card-content>
</mat-card>

<hr>

<mat-card class="mat-card" *ngIf=" dataSource.length> 0">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Historique des 10 derniers chargements des données financières</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content class="fr-col-6">
    <table mat-table [dataSource]="dataSource" class="fr-table fr-table--no-caption">
      <caption>Liste des derniers fichiers chargés</caption>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Utilisateur</th>
        <td mat-cell *matCellDef="let element">{{element.username}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef>Fichier</th>
        <td mat-cell *matCellDef="let element">{{element.filename}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element"><lib-display-date [date]="element.date" /></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </mat-card-content>

</mat-card>