<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Chargez les données france 2030</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="line">

      <div class="col">
        <input #fileFrance2030Upload (change)="fileFrance2030 = getFile($event)" [accept]="requiredFileType"
          class="file-input" type="file">
        <div class="file-upload">

          <span>{{ fileFrance2030 !== null ? fileFrance2030.name : "Sélectionner un fichier csv" }}</span>

          <button (click)="fileFrance2030Upload.click()" *ngIf="fileFrance2030 === null" class="upload-btn"
            color="primary" mat-mini-fab>
            <mat-icon>attach_file</mat-icon>
          </button>

          <button (click)="fileFrance2030 = null" *ngIf="fileFrance2030 !== null" class="cancel-upload" color="warn"
            mat-mini-fab>
            <mat-icon (click)="fileFrance2030 = null" class="cancel-upload">delete_forever</mat-icon>
          </button>

        </div>
      </div>

      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Année</mat-label>
          <mat-select [(ngModel)]="yearSelected" required>
            <mat-option *ngFor="let year of years" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>calendar_month</mat-icon>
        </mat-form-field>
      </div>

      @if(fileFrance2030 !== null) {
      <button (click)="uploadFrance2030File()" (disabled)="uploadInProgress.value === true" color="primary" mat-fab>
        <mat-icon fontIcon="upload_file" />
      </button>
      }
    </div>
  </mat-card-content>
</mat-card>

<hr>
@if(dataSource.length> 0) {


<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Historique des 10 derniers chargements des données financières</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content class="fr-col-6">
    <table [dataSource]="dataSource" class="fr-table fr-table--no-caption" mat-table>
      <caption>Liste des derniers fichiers chargés</caption>
      <ng-container matColumnDef="username">
        <th *matHeaderCellDef mat-header-cell>Utilisateur</th>
        <td *matCellDef="let element" mat-cell>{{ element.username }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="filename">
        <th *matHeaderCellDef mat-header-cell>Fichier</th>
        <td *matCellDef="let element" mat-cell>{{ element.filename }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell>Date</th>
        <td *matCellDef="let element" mat-cell>
          <lib-display-date [date]="element.date" />
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>


  </mat-card-content>

</mat-card>
}