<mat-card class="mat-card">
  <mat-card-header [ngClass]="{'hidden': grid_fullscreen }">
    <mat-card-title>Rechercher des données financières</mat-card-title>
  </mat-card-header>

  <mat-card-content class="content-column">
    <financial-search-data (searchResultsEventEmitter)="tableData = $event" (currentFilter)="newFilter = $event"
      [preFilter]="preFilter" [ngClass]="{ 'hidden': grid_fullscreen }"/>

    <div class="main-content overlay-container no-content">
      <ng-container *ngIf="tableData && tableData.length === 0 else groupingTable">
        <div><i>Aucune donnée ne correspond à vos critères de recherche.</i></div>
      </ng-container>
    </div>
  </mat-card-content>

  <div class="last-import" *ngIf="lastImportDate">
    <mat-icon class="info-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="info"/>
    <div>
      Le dernier chargement complet des données financières date du <lib-display-date [date]="lastImportDate"/>. <br>
      Les données prennent donc en compte la situation au dernier jour du mois précédent.
    </div>
  </div>
</mat-card>

<ng-template #groupingTable>
  <ng-container *ngIf="tableData">

    <div class="table-toolbar">
      <div>
        <ul class="fr-btns-group--inline">
          <li>
            <button *ngIf="!grid_fullscreen"
              data-test-id="group-by-btn"
              class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-menu-2-fill"
              (click)="openGroupConfigDialog()" aria-label="Grouper les lignes par">
              Grouper les lignes par
            </button>
          </li>
          <li>
            <button *ngIf="!grid_fullscreen"
              data-test-id="chose-columns-btn"
              class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-table-line"
              (click)="openSortColumnsDialog()" aria-label="Choisir les colonnes">
              Choisir les colonnes
            </button>
          </li>
        </ul>
      </div>

      <div class="spacer"></div>

      <div>
        <ul class="fr-btns-group--inline">
          <li>
            <button *ngIf="!grid_fullscreen"
              class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-save-fill"
              (click)="openSaveFilterDialog()" aria-label="Sauvegarder la recherche">
              Sauvegarder la recherche
            </button>
          </li>

          <li>
            <button *ngIf="!grid_fullscreen && searchData.searchFinish === true" 
              class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-download-fill" 
              aria-label="Bouton de téléchargement de données."
              [disabled]="searchData.searchInProgress.value === true"
              [matMenuTriggerFor]="downloadOptions">
              Télécharger les données
            </button>
            <mat-menu #downloadOptions="matMenu">
              
              <button mat-menu-item [matMenuTriggerFor]="allColumnsFormats">
                Toutes les colonnes
              </button>
              <mat-menu #allColumnsFormats="matMenu">
                <button mat-menu-item (click)="downloadData('csv', true)">Format CSV</button>
                <button mat-menu-item (click)="downloadData('xlsx', true)">Format Excel</button>
                <button mat-menu-item (click)="downloadData('ods', true)">Format Libre Office</button>
              </mat-menu>
              
              <button mat-menu-item [matMenuTriggerFor]="displayedColumnsFormats">
                Les colonnes affichées
              </button>
              <mat-menu #displayedColumnsFormats="matMenu">
                <button mat-menu-item (click)="downloadData('csv', false)">Format CSV</button>
                <button mat-menu-item (click)="downloadData('xlsx', false)">Format Excel</button>
                <button mat-menu-item (click)="downloadData('ods', false)">Format Libre Office</button>
              </mat-menu>

            </mat-menu>
          </li>
          
          <li>

            <button
              data-test-id="toggle-grid-fullscreen-btn"
              class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left"
              [ngClass]="{ 'fr-icon-subtract-line': grid_fullscreen, 'fr-icon-fullscreen-line': !grid_fullscreen }"
              (click)="toggle_grid_fullscreen()" aria-label="Bouton de contrôle du plein écran">
              {{fullscreen_label}}
            </button>

          </li>
        </ul>
      </div>
    </div>

    <lib-grouping-table class="h-100" 
      [tableData]="tableData" 
      [columnsMetaData]="genericColumnsMetadata"
      [groupingColumns]="groupingColumns" 
      (rowClick)="onRowClick($event)"
    >

      <ng-template libProjectCell="tags" let-cell="cell">

          <mat-chip-listbox>
            <mat-chip *ngFor="let tag of cell"
              [matTooltip]="tag?.description" matTooltipPosition="above"
            >
              {{displayTag(tag)}}
            </mat-chip>
          </mat-chip-listbox>

      </ng-template>

      <ng-template libProjectGrouping="tags" let-cell="cell">

          <mat-chip-listbox>
            <mat-chip *ngFor="let tag of cell">
              {{displayTag(tag)}}
            </mat-chip>
          </mat-chip-listbox>

      </ng-template>

    </lib-grouping-table>

  </ng-container>
</ng-template>
