<ng-container *ngIf="displayError && error?.name else form">
  <div class="box" data-test-id="search-cmp-error-msg">
    <div class="fr-alert fr-alert--error">
      <p>{{error?.message}}</p>
    </div>
  </div>
</ng-container>

<ng-template #form>
  <form [formGroup]="searchForm" autocomplete="off">
    <div class="box">
      
      <lib-select-multiple 
        data-test-id="themes-form-field"
        [canFilter]="true" [canSelectAll]="true"
        [placeholder]="'Thème'"
        [options]="themes"
        [(selected)]="selectedTheme"
        [error]="errorsBenefOrBop"
        class="select-multiple field-20-width"
        />

      <lib-select-multiple [canFilter]="true" [canSelectAll]="true"
        data-test-id="programmes-form-field"
        [placeholder]="'Programme'"
        [options]="filteredBop"
        [(selected)]="selectedBops"
        [filterFunction]="filterBop"
        [renderFunction]="renderBopOption"
        [renderLabelFunction]="renderTriggerLabel"
        class="select-multiple field-25-width"
        matTooltip="Saisir un nom ou un numéro de programme (Exemple : 102 ou Accès et retour à l’emploi)" matTooltipPosition="above"
        />

      <div class="field-localisation field-30-width">
        <lib-localisation [(selectedNiveau)]="selectedNiveau" [(selectedLocalisation)]="selectedLocation" />
      </div>

      <lib-select-multiple [canFilter]="false" [canSelectAll]="true"
        [placeholder]="'Année'"
        [options]="annees"
        [(selected)]="selectedYear"
        data-test-id="annees-form-field"
        class="select-multiple field-15-width"
        icon="calendar_month"
        />

      <div class="break"></div>

      <lib-advanced-chips-multiselect
        data-test-id="search-beneficiaires-control"
        class="field-25-width field-beneficiaire"
        appearance="fill"
        label="Bénéficiaire(s)"
        placeholder=""
        matTooltipPosition="above"
        matTooltip="Saisir un nom (sans accent) ou un SIRET (Exemple: Decathlon, Rennes... ou 40447186400433,...)"
        [options]="(beneficiaireFieldOptions$ | async)!"
        (inputChange)="onBeneficiaireInputChange($event)"
        [(selectedData)]="selectedBeneficiaires"
        />

      <lib-select-multiple [canFilter]="false" [canSelectAll]="true"
        data-test-id="types-beneficiaires-form-field"
        [placeholder]="'Type de bénéficiaire'"
        [options]="typesBenef"
        [(selected)]="selectedTypesBenef"
        class="select-multiple field-15-width"
        />

      <lib-advanced-chips-multiselect
        class="field-25-width field-tags"
        appearance="fill"
        label="Tags"
        placeholder=""
        [options]="(tagsFieldOptions$ | async)!"
        (inputChange)="onTagInputChange($event)"
        [(selectedData)]="selectedTags"/>

      <div class="spacer"></div>

      <button mat-fab color="primary" (click)="doSearch()" matTooltip="Rechercher" aria-label="Bouton de recherche.">
        <mat-icon fontIcon="search"/>
      </button>

      <button mat-fab color="secondary" (click)="downloadCsv()" matTooltip="Télécharger"
        aria-label="Bouton de téléchargement de données." *ngIf="searchFinish === true"
        (disabled)="searchInProgress.value === true">
        <mat-icon fontIcon="download"/>
      </button>

      <button mat-fab color="warn" (click)="reset()" *ngIf="searchFinish === true" matTooltip="Effacer la recherche"
        aria-label="Bouton de réinitialisation des critères de recherche">
        <mat-icon fontIcon="delete"/>
      </button>
    </div>

  </form>
</ng-template>

<!-- Ajout d'un indicateur pour les paramètres de recherche additionnels qui ne sont pas dans le formulaire  -->
<ng-container *ngIf="additional_searchparams?.domaines_fonctionnels && additional_searchparams.domaines_fonctionnels.length > 0">
  <div data-test-id="notif-additionnal-search-on-domaines-fonctionnels">
    <mat-icon aria-hidden="false" aria-label="information">information</mat-icon>
    <span>
      Attention, vous appliquez également un filtre sur le domaine fonctionnel
    </span>
  </div>
</ng-container>

<ng-container *ngIf="additional_searchparams?.referentiels_programmation && additional_searchparams.referentiels_programmation.length > 0">
  <div data-test-id="notif-additionnal-search-on-referentiels-programmation">
    <mat-icon aria-hidden="false" aria-label="information">information</mat-icon>
    <span>
      Attention, vous appliquez également un filtre sur le réferentiel de programmation
    </span>
  </div>
</ng-container>

<ng-container *ngIf="additional_searchparams?.sources_region && additional_searchparams.sources_region.length > 0">
  <div data-test-id="notif-additionnal-search-on-source-region">
    <mat-icon aria-hidden="false" aria-label="information">information</mat-icon>
    <span>
      Attention, vous appliquez également un filtre sur la source region
    </span>
  </div>
</ng-container>
