<lib-header [logo]="'FranceRelance.svg'" [ngClass]="{'hidden': grid_fullscreen }"
            [title]="'France 2030 et Relance en Bretagne'">

  <li *ngIf="displayAdmin" administration>
    <button [matMenuTriggerFor]="administration" class="fr-btn fr-btn--tertiary-no-outline fr-icon-settings-5-fill"
            id="administration"
            matTooltip="Administration">Admin
    </button>
    <mat-menu #administration="matMenu">
      <button mat-menu-item routerLink='administration/upload'>Charger des données</button>
    </mat-menu>
  </li>

</lib-header>

<div *ngIf="progressBarVisible === true">
  <mat-progress-bar mode="query" />
</div>

<router-outlet class="page-content-outlet" />

<lib-footer *ngIf="isAuthenticated" [ngClass]="{'hidden': grid_fullscreen }" />
